.btn1,
.hc1 h1,
.navlinks a,
.titles h1 {
  text-transform: uppercase;
}
.hero,
.navlinks ul,
nav {
  align-items: center;
}
@font-face {
  font-family: Nunito;
  src: url("../assets/Nunito-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Nunito;
  src: url("../assets/Nunito-VariableFont_wght.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Nunito;
  src: url("../assets/Nunito-VariableFont_wght.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lobster;
  src: url("../assets/Lobster-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.hc1 h1,
.navlinks a {
  font-weight: 800;
}
.about,
.hero {
  background-image: url("../images/bg2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.about_parts,
.d-flex,
.hero,
.myworks div,
nav {
  display: flex;
}
.aboutc2 a,
.hc1 a {
  display: inline-block;
}
.hero,
.myworks div,
.navlinks a {
  position: relative;
}
.myworks div::before,
.navlinks a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.logo h2,
.myworks div h2 {
  font-family: Lobster, cursive;
}
.about,
.hero,
.myworks .work1,
.myworks .work2,
.myworks .work3 {
  background-size: cover;
}
.myworks div:hover h2,
.myworks div:hover p,
.myworks div:hover::before {
  opacity: 0;
  transition: 0.5s linear;
}
.hc1 a,
.navlinks a,
a {
  text-decoration: none;
}
.aboutc1,
.aboutc1 img,
.myworks div,
.titles i,
.txt_center {
  text-align: center;
}
.bar,
.container,
.margin0auto {
  margin: 0 auto;
}
nav {
  padding-top: 15px;
  width: 100%;
  position: fixed;
  z-index: 99;
}
nav .container {
  background: #ffffff81;
  backdrop-filter: blur(20px);
  padding: 20px 15px;
  border: 1px solid #ffffff80;
  border-top: 1px solid #ffffff80;
  border-left: 1px solid #ffffff80;
  border-radius: 10px;
  box-shadow: 1px 10px 35px rgba(0, 0, 0, 0.1);
}
.navlinks {
  justify-content: flex-end;
  align-items: center;
}
.navlinks ul li {
  list-style: none;
}
.navlinks a {
  font-size: 16px;
  color: #000;
  padding: 10px 30px;
}
.c2c h1,
.c2c h2,
.c2c p,
.hc1 h1,
.hc1 p {
  padding-bottom: 20px;
}
.navlinks a::before {
  margin: 0 auto;
  width: 50%;
  height: 4px;
  background: linear-gradient(to right, #95dcbd, #65ccee);
  transform: translateX(-20px);
  opacity: 0;
  border-radius: 5px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.navlinks li:hover a::before {
  opacity: 1;
  transform: translateX(0);
}
.hero {
  height: 100vh;
  z-index: 90;
}
.hc1 h1 {
  font-size: 75px;
  line-height: 1em;
}
.aboutc2 h2,
.hc1 p {
  font-weight: 600;
}
.aboutc2,
.hc1 {
  display: flex;
  align-items: center;
}
.hc1 h2 {
  color: #65ccee;
  font-size: 30px;
}
.hc1 p {
  font-size: 22px;
}
.socialicons {
  padding: 0 0 30px;
}
.socialicons i {
  font-size: 25px;
  background: #fff;
  color: #151515;
  padding: 15px;
  margin-right: 15px;
  border-radius: 30px;
  transition: 0.5s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.socialicons i:hover {
  transform: rotate(360deg);
  background: #8be4ff;
  transition: 0.5s;
}
.hc2 img {
  width: 90%;
  animation: 2s ease-in infinite alternate hcimg;
}
@keyframes hcimg {
  0% {
    transform: translateX(0);
    transform: translateY(0);
  }
  100% {
    transform: translateX(-20px);
    transform: translateY(-20px);
  }
}
#aboutme {
  overflow: hidden;
  padding: 100px 0;
}
.about_parts {
  flex-direction: column;
  height: 100%;
}
.about_contents {
  padding-top: 30px;
}
.aboutc1 img {
  width: 65%;
  background: #8be4ff;
  border-radius: 15px;
  box-shadow: 20px 20px 1px #1addff;
}
.c2c h1 {
  font-size: 45px;
}
.aboutc2 p {
  font-size: 18px;
  background: #ffffff80;
  backdrop-filter: blur(15px);
  padding: 15px;
  border-left: 2px solid #1addff;
  border-radius: 0 15px 15px 0;
  line-height: 2em;
}
.aboutc2 a {
  border: 0;
  margin-top: 20px;
}
#works {
  background: url("../images/portfoliobg.svg") 0 0 / cover;
}
.myworks {
  flex-wrap: wrap;
  justify-content: space-between;
}
.myworks div {
  width: 31%;
  height: 500px;
  background-position: top;
  transition: 2s ease-in-out;
  box-shadow: 10px 15px 35px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}
.myworks div::before {
  height: 100%;
  width: 100%;
  background: #fff;
  backdrop-filter: blur(15px);
  top: 0;
  border: 1px solid #fff;
  border-radius: 10px;
  z-index: 30;
  margin: auto;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
}
.myworks div h2,
.myworks div p {
  z-index: 35;
  transition: 0.5s linear;
  padding: 0 30px;
}
.myworks div h2 {
  font-size: 35px;
  text-transform: capitalize;
  color: #1addff;
  font-weight: 300;
}
.btn1,
.myworks div p {
  font-size: 18px;
  font-weight: 600;
}
.myworks div p {
  padding-top: 20px;
  color: #777;
  line-height: 1.5em;
}
.myworks .work1 {
  background-image: url("../images/bpoabacus.webp");
}
.myworks .work2 {
  background-image: url("../images/fsnippetpro.webp");
}
.myworks .work3 {
  background-image: url("../images/zoyzo.webp");
}
.myworks div:hover {
  background-position: bottom;
  transition: 6s ease-in-out 0.3s;
  border: none;
}
.myworks div:hover::before {
  width: 0;
  height: 0;
  margin: auto;
}
#contacts {
  background: #1addff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.5vw;
  background: #ccc;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1ce4ff, #4fff75);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
:root {
  --blue: #4a7ef1;
  --lightblue: #65ccee;
}
.container {
  width: 75vw;
}
.w-50 {
  width: 50%;
}
.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.py-6 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.py-7 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.py-8 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.py-9 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.py-10 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}
.px-4 {
  padding-left: 40px;
  padding-right: 40px;
}
.px-5 {
  padding-left: 50px;
  padding-right: 50px;
}
.hi-5 {
  height: 50vh;
}
.hi-6 {
  height: 60vh;
}
.hi-7 {
  height: 70vh;
}
.hi-8 {
  height: 80vh;
}
.hi-9 {
  height: 90vh;
}
.hi-10 {
  height: 100vh;
}
body,
html {
  font-family: Nunito, sans-serif;
  scroll-behavior: smooth;
}
.justBt {
  justify-content: space-between;
}
.btn1 {
  padding: 15px 30px;
  background: linear-gradient(to right, #65ccee 30%, #95dcbd);
  color: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: 0.5s;
}
.btn1:hover {
  background: linear-gradient(to right, #95dcbd, #65ccee);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  color: #151515;
}
.btn1 i {
  margin: 0 15px 0 0;
  color: #fff;
}
.btn1:hover i {
  transform: rotate(360deg);
  color: #151515;
  transition: 0.5s;
}
.titles i {
  display: block;
  font-size: 50px;
  color: #151515;
}
.titles h1 {
  font-size: 45px;
  color: #333;
}
.bar {
  display: block;
  width: 10%;
  height: 5px;
  background: #333;
  border-radius: 10px;
}
